* {
    margin: 0;
    padding: 0;
}

@keyframes move {
    0% {transform: translate(-20px, -20px);}
    20% {transform: translate(20px, -20px);}
    40% {transform: translate(0);}
    60% {transform: translate(-20px, 20px);}
    80% {transform: translate(0px, 20px);}
    100% {transform: translate(20px, 20px);}
}

.tiger {
    width: 200px;
    height: 200px;
    margin: 20px;
    background: url('../tiger.png') center center/ 100% no-repeat;
    animation: move 1s linear infinite alternate;
}

@keyframes move2 {
    from {margin-top: 0;}
    to {margin-top: 100px;} 
}

.wow {
    width: 90px;
    margin: 15px;
    border: 2px dashed red;
    animation: move2 0.5s linear 3 alternate;
}

.wow:hover {animation-play-state: paused;}

@keyframes move3 {
    0% {transform: translate(-40px, -40px);}
    50% {transform: translate(40px, 20px);}
    100% {transform: translate(-40px, 40px);}
}

.second {
    width: 200px;
    margin: 30px;
    animation: move3 2s 2s linear infinite both;
}